# Empty CSS file for your own CSS

.description{
	position:absolute;top:20%;left:10%;
	
	
	
	
	
	}
	
	
	
	.detail img{
	width:100%;
	position:relative;
	
	}
	
	.foot{
	text-align:center;
	}
	.copyRight{
		color:grey
	}